<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.anipe.verbrauchsapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gas_station"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="de.anipe.verbrauchsapp.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="de.anipe.verbrauchsapp.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.anipe.verbrauchsapp.CarInputActivity"
            android:label="@string/car_input_name"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="de.anipe.verbrauchsapp.ImportActivity"
            android:label="@string/csv_import_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="de.anipe.verbrauchsapp.TabbedImportActivity"
            android:label="@string/csv_import_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="de.anipe.verbrauchsapp.PictureImportActivity"
            android:label="@string/picture_import_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="de.anipe.verbrauchsapp.ConsumptionInputActivity"
            android:label="@string/cons_add_label"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="de.anipe.verbrauchsapp.ConsumptionListActivity"
            android:label="@string/cons_list_label"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name="de.anipe.verbrauchsapp.PlotActivity"
            android:label="@string/cons_plot_header" />
        <activity
            android:name="de.anipe.verbrauchsapp.XYPlot"
            android:label="@string/cons_plot_header" />
        <activity
            android:name="de.anipe.verbrauchsapp.GraphViewPlot"
            android:label="@string/cons_plot_header"
            android:parentActivityName=".MainActivity" />
        <activity android:name="de.anipe.verbrauchsapp.GDriveBaseActivity"></activity>
        <activity
            android:name="de.anipe.verbrauchsapp.GDriveStoreActivity"
            android:label="@string/store_drive_label"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <data android:mimeType="text/xml" />
                <data android:mimeType="text/csv" />

                <action android:name="com.google.android.apps.drive.DRIVE_OPEN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
